# TUTO : https://signoz.io/guides/how-to-install-prometheus-and-grafana-on-docker/

global:
  scrape_interval: 15s  # Frequency of metric scraping
  scrape_timeout: 10s
  evaluation_interval: 15s

alerting:
  alertmanagers:
  - static_configs:
    - targets: []
    scheme: http
    timeout: 10s
    api_version: v2

scrape_configs:
  - job_name: prometheus # Ceux de base de prometheus
    honor_timestamps: true
    scrape_interval: 15s
    scrape_timeout: 10s
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets:
        - localhost:9090
  - job_name: recoMangaTion-api # Ceux de l'app
    scrape_interval: 15s
    scrape_timeout: 10s
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets:
        - api:8000